/* tag element selector

h1 {
    background-color: pink;
    font-size: 100px;

 }

 ul {
    background-color: aqua;
    
 }

 h2 {
   background-color:blue
 } */

 /* id base selector */

 
/*
 #first {
   background-color: yellow;
    
 }*/

 /*.third {
   background-color:blanchedalmond;
 }

 .fourth {
   background-color:chartreuse
 }*/
 h1{
   background-color:rgb(224, 72, 72);

 }

 h2{
   background-color:hsl(100,100%,40%)
 }